USE [final]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 2026/2/23 下午 08:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [varchar](50) NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 2026/2/23 下午 08:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[message] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[image_path] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 2026/2/23 下午 08:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [varchar](50) NOT NULL,
	[psw] [varchar](255) NOT NULL,
	[total_spent] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2026/2/23 下午 08:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [nvarchar](50) NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[order_time] [datetime] NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2026/2/23 下午 08:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[quantity] [int] NULL,
	[size] [nvarchar](20) NULL,
	[price] [int] NULL,
	[img_src] [nvarchar](255) NULL,
	[path] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [customer_id], [product_id], [quantity], [added_at]) VALUES (100, N'空帳號(沒有此帳號)', 10, 1, CAST(N'2025-05-14T17:04:52.040' AS DateTime))
INSERT [dbo].[cart] ([cart_id], [customer_id], [product_id], [quantity], [added_at]) VALUES (101, N'jacky', 19, 1, CAST(N'2025-05-16T16:56:32.850' AS DateTime))
INSERT [dbo].[cart] ([cart_id], [customer_id], [product_id], [quantity], [added_at]) VALUES (107, N'jacky', 42, 1, CAST(N'2025-05-21T14:01:48.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([id], [username], [message], [created_at], [image_path]) VALUES (21, N'test', N'飼養海水魚真是一門大學問，看到了許多影片，讓我也深深對海洋著迷', CAST(N'2025-05-13T15:08:39.800' AS DateTime), NULL)
INSERT [dbo].[comments] ([id], [username], [message], [created_at], [image_path]) VALUES (23, N'jacky', N'是阿，不過每天看它們悠游，就很開心。', CAST(N'2025-05-13T15:11:18.037' AS DateTime), N'uploads/1747120278_S__819789854.jpg')
INSERT [dbo].[comments] ([id], [username], [message], [created_at], [image_path]) VALUES (29, N'小陳', N'i want to buy a clown fish', CAST(N'2025-06-13T14:45:22.100' AS DateTime), N'uploads/1749797122_DACEEE4F-3C22-404D-83D0-AA5102E6191F.jpg')
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
INSERT [dbo].[customer] ([id], [psw], [total_spent]) VALUES (N'0223', N'0223', CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[customer] ([id], [psw], [total_spent]) VALUES (N'0526', N'0526', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[customer] ([id], [psw], [total_spent]) VALUES (N'aaa', N'1234', CAST(1650.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_id], [product_id], [quantity], [price], [order_time], [status]) VALUES (12, N'test', 10, 1, CAST(150.00 AS Decimal(10, 2)), CAST(N'2025-05-08T15:44:06.000' AS DateTime), N'待付款')
INSERT [dbo].[orders] ([id], [customer_id], [product_id], [quantity], [price], [order_time], [status]) VALUES (13, N'test', 42, 1, CAST(2800.00 AS Decimal(10, 2)), CAST(N'2025-05-08T15:44:06.000' AS DateTime), N'待付款')
INSERT [dbo].[orders] ([id], [customer_id], [product_id], [quantity], [price], [order_time], [status]) VALUES (14, N'jacky', 49, 1, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2025-05-09T05:57:02.000' AS DateTime), N'待付款')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [quantity], [size], [price], [img_src], [path]) VALUES (1, N'清潔蝦', 5, N'8cm', 200, N'../asses/others/o1.jpg', N'其他')
INSERT [dbo].[products] ([id], [name], [quantity], [size], [price], [img_src], [path]) VALUES (2, N'假綿羊蝦', 4, N'12cm', 50, N'../asses/others/o2.jpg', N'其他')
INSERT [dbo].[products] ([id], [name], [quantity], [size], [price], [img_src], [path]) VALUES (3, N'拳擊蟹', NULL, N'5cm', 150, N'../asses/others/o3.jpg', N'其他')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0.00)) FOR [total_spent]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_time]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('未確認') FOR [status]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
